/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  // outline: 1px solid #000;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}

body {
  font-family: Bruno Ace SC, serif;
  line-height: 1.5;
  background: #000;
}

.container {
  width: 1296px;
  margin: 0 auto;
}
.pt-40 {
  padding-top: 40px;
}
.d-flex {
  display: flex;
}
.justify-content-sb {
  justify-content: space-between;
}
.light-gray {
  color: #d1d1d1;
}
.py-72 {
  padding-top: 72px;
  padding-bottom: 72px;
}
.align-items-c {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.mr-24 {
  margin-right: 24px;
}
.white {
  color: #fff;
}
.fz-xl {
  font-size: 64px;
}
.light-green {
  color: #00ffa3;
}
.txt-align-r {
  text-align: right;
}
.fz-xxl {
  font-size: 128px;
}
.align-self-end {
  align-self: end;
}
.bg-white {
  background: #fff;
}
.button {
  padding: 12px 24px;
  border-radius: 32px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: #00ffa3;
    color: #fff;
  }
}
.black {
  color: #000;
}
.bg-image {
  background-image: url("../image/background-img.png");
}
.fz-l {
  font-size: 24px;
}
.mb-36 {
  margin-bottom: 36px;
}
.mb-32 {
  margin-bottom: 32px;
}
.intro-txt {
  width: 526px;
}
.py-160 {
  padding-top: 160px;
  padding-bottom: 160px;
}
.intro-pic {
  width: 746px;
}
.skill {
  width: 636px;
  gap: 24px;
}
.about-me {
  width: 526px;
}
.flex-wrap {
  flex-wrap: wrap;
}
.card {
  border: 1px solid #e3e3e3;
  padding: 16px;
  width: calc(50% - 12px);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
}
.fz-m {
  font-size: 20px;
}
.fz-s {
  font-size: 16px;
}
.mb-4 {
  margin-bottom: 4px;
}
.bg-linear {
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}
.py-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}
.ml-16 {
  margin-left: 16px;
}
.mr-20 {
  margin-right: 20px;
}
.contact-link {
  border-radius: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  &:hover {
    box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9);
  }
}
.project-title {
  width: 746px;
  margin-left: auto;
}
.mb-16 {
  margin-bottom: 16px;
}
.project-item {
  width: 856px;
}
.mb-28 {
  margin-bottom: 28px;
}
.bg-black {
  background: #000;
}
.align-self-start {
  align-self: start;
}
.ml-4 {
  margin-left: 4px;
}
.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.txt-center {
  text-align: center;
}
