/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

body {
  font-family: "Bruno Ace", cursive;
  line-height: 1.5;
  color: #000;
  background: #000;
}

a {
  text-decoration: none;
}

.container {
  width: 1296px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-content-sb {
  justify-content: space-between;
}

.mt-40 {
  margin-top: 40px;
}

.fz-s {
  font-size: 16px;
}

.black {
  color: #000;
}

.light-gray {
  color: #d1d1d1;
}

.my-72 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.mr-24 {
  margin-right: 24px;
}

.title {
  align-self: center;
}

.fz-xl {
  font-size: 64px;
}

.white {
  color: #fff;
}

.fz-xxl {
  font-size: 128px;
}

.light-green {
  color: #00ffa3;
}

.name {
  text-align: right;
}

.button {
  position: relative;
}

.bg-white {
  background: #fff;
}

.contact-button {
  position: absolute;
  right: 0;
  padding: 12px 24px;
  border-radius: 32px;
  transition: all 0.3s ease-in-out;
}
.contact-button:hover {
  color: #fff;
  background: #00ffa3;
}

.ml-4 {
  margin-left: 4px;
}

.bg-pic {
  background-image: url(/week2/image/background-img.png);
}

.py-160 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.fz-l {
  font-size: 24px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mr-16 {
  margin-right: 16px;
}

.intro-txt {
  width: 40.5%;
}

.flex-warp {
  flex-wrap: wrap;
}

.about-card {
  width: 49%;
}

.card-item {
  width: 48%;
  padding: 16px;
  border: 1px solid #e3e3e3;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 4px;
}

.fz-m {
  font-size: 20px;
}

.about-content {
  width: 40.5%;
}

.bg-linear {
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}

.mr-20 {
  margin-right: 20px;
}

.py-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.align-items-c {
  align-items: center;
}

.align-items-s {
  align-items: start;
}

.link-item {
  filter: drop-shadow(0 0 10px #000);
}
.link-item:hover {
  filter: drop-shadow(0 0 10px #9094ff);
}

.mb-16 {
  margin-bottom: 16px;
}

.flex-col {
  flex-direction: column;
}

.project-title {
  width: 57%;
  margin-left: auto;
}

.bg-black {
  background: #000;
}

.more-button {
  padding: 12px 24px;
  border-radius: 32px;
}
.more-button:hover {
  transform: scale(1.2);
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.txt-center {
  text-align: center;
}/*# sourceMappingURL=all.css.map */