/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  // outline: 1px solid #000;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

$light-themeColor: #aa0601;
$dark-themeColor: #650300;
$supportColor: #fbf2f2;

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #fff;
}

.bg-themeColor {
  background: $light-themeColor;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.justify-content-sb {
  justify-content: space-between;
}
.align-items-c {
  align-items: center;
}
.logo {
  width: 80px;
}
.white {
  color: #fff;
}
.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.mr-64 {
  margin-right: 64px;
}
.bg-pic1 {
  background: url("../image/home-header.png");
  background-size: cover;
}
.py-296 {
  padding-top: 296px;
  padding-bottom: 296px;
}
.txt-dark-themeColor {
  color: $dark-themeColor;
}
.txt-right {
  text-align: right;
}

$font-size-base: 16px;
.fs-1 {
  font-size: $font-size-base * 4; // 64px
}
.fs-2 {
  font-size: $font-size-base * 3; // 48px
}
.fs-3 {
  font-size: $font-size-base * 2.25; // 36px
}
.fs-4 {
  font-size: $font-size-base * 1.5; // 24px
}
.fs-5 {
  font-size: $font-size-base * 1.25; // 20px
}
.fs-6 {
  font-size: $font-size-base; // 16px
}
.fs-7 {
  font-size: $font-size-base * 0.875; // 14px
}
.fs-bold {
  font-weight: bold;
}
.buy-button {
  padding: 6px 12px;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $light-themeColor;
    background: #fff;
  }
}
.bg-support {
  background: $supportColor;
}
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.txt-center {
  text-align: center;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-8 {
  margin-bottom: 8px;
}
.flex-wrap {
  flex-wrap: wrap;
}
.mx--12 {
  margin-left: -12px;
  margin-right: -12px;
}
.intro-card-item {
  max-width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}
.intro_icon {
  font-size: 100px;
}
.bg-white {
  background: #fff;
}
.mb-48 {
  margin-bottom: 48px;
}
.classic-pic {
  width: 416px;
}
.txt-light-themeColor {
  color: $light-themeColor;
}
.fs-ltalic {
  font-style: italic;
}
.fs-bolder {
  font-weight: bolder;
}
.bg-pic2 {
  background: url("../image/index-bg.png");
  background-size: cover;
}
.recommend-card-item {
  // width: 306px;
  box-shadow: 0px 2px 6px #00000029;
}
.recommender {
  border-radius: 4px 4px 0px 0px;
}
.date {
  margin-top: auto;
  color: #707070;
}
.fs-medium {
  font-weight: 500;
}
.contact {
  max-width: 636px;
  margin: 0 auto;
}
.flex-col {
  flex-direction: column;
}
.submit-button {
  padding: 16px 176px;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    color: $light-themeColor;
    background: #fff;
  }
}
textarea {
  height: 136px;
}
.footer {
  padding-top: 48px;
  padding-bottom: 32px;
}
.link-pic {
  width: 48px;
}
.mr-32 {
  margin-right: 32px;
}
.mr-48 {
  margin-right: 48px;
}
.footer-contact-icon {
  font-size: 48px;
  margin-right: 16px;
}
.pb-32 {
  padding-bottom: 32px;
}
.footer-body {
  border-bottom: 1px solid #fff;
}
.mb-32 {
  margin-bottom: 32px;
}
